* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  color: none;
}

header {
  background-color: rgba(128, 128, 128, 0.535);
  display: flexbox;
  align-items: center;
  justify-content: space-around;
}

.textoBanner {
  display: flex;
  padding: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  text-indent: 30px;
  padding: 50px;
  padding-left: 10px;
}

.logoLJ {
  width: 150px;
  height: auto;
}

.bannerLiga {
  margin: 10px;
  width: 50%;
  height: 400px;
  border: 10px solid black;
}

.nomeLiga {
  align-items: center;
  font-size: 60px;
  margin-left: 150px;
  color: rgba(0, 0, 0, 0.535);
}

nav {
  width: 100%;
}

ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  
}

li {
  list-style: none;
  color: white;
  cursor: pointer;
  font-size: 19px;
  transition: .5s;
  font-family: 'Times New Roman', Times, serif;
}

li:hover { 
  color: rgba(148, 0, 211, 0.701);
}

.navLiga {
  display: flex;
  align-items: center;
  background-color: rgba(69, 63, 63, 0.352);
  color: white;
}

body {
  background-color: rgba(128, 128, 128, 0.50);
  padding: 10px;
}

.bodyProjeto {
  align-items: center;
  border: 3px solid grey;
  padding: 10px 0px 10px 30px;
  margin-top: 5px;
}

article {
  display: flex;
  align-items: center;
}

.bodyFilme {
  align-items: center;
  border: 3px solid grey;
  padding: 10px 0px 10px 30px;
  margin-top: 5px;
}

.bodyPersonagens {
  align-items: center;
  border: 3px solid grey;
  padding: 10px 0px 10px 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.imagemPersonagens {
  display: flex;
 /* border: 3px solid grey;*/
  padding: 10px 10px 10px 10px;
}

.aquaman,.batman,.ciborg,.flash,.mulher_m,.superman {
  display: grid;
  grid-row: 3;
  border-radius:50%;
  cursor: pointer;
  
}

.back_aquaman{
  background-image: repeating-radial-gradient(rgba(255, 166, 0, 0.900), rgba(255, 166, 0, 0.700), rgba(0, 128, 0, 0.800));
  
  ;
}
  .headerAquaman{
    width: 100%;
    height: 300px;
    display: flex;
     padding: 10px;
  }

@media(min-width:480px){
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: none;
  }
  
  header {
    background-color: rgba(128, 128, 128, 0.535);
    display: flexbox;
    align-items: center;
    justify-content: space-around;
  }
  
  .textoBanner {
    display: flex;
    padding: 10px;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-indent: 30px;
    padding: 50px;
    padding-left: 10px;
  }
  
  .logoLJ {
    width: 150px;
    height: auto;
  }
  
  .bannerLiga {
    margin: 10px;
    width: 50%;
    height: 400px;
    border: 10px solid black;
  }
  
  .nomeLiga {
    align-items: center;
    font-size: 60px;
    margin-left: 150px;
    color: rgba(0, 0, 0, 0.535);
  }
  
  nav {
    width: 100%;
  }
  
  ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
  }
  
  li {
    list-style: none;
    color: white;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Times New Roman', Times, serif;
  }
  
  li:hover { 
    color: rgba(148, 0, 211, 0.701);
  }
  
  .navLiga {
    display: flex;
    align-items: center;
    background-color: rgba(69, 63, 63, 0.352);
    color: white;
  }
  
  body {
    background-color: rgba(128, 128, 128, 0.50);
    padding: 10px;
  }
  
  .bodyProjeto {
    align-items: center;
    border: 3px solid grey;
    padding: 10px 0px 10px 30px;
    margin-top: 5px;
  }
  
  article {
    display: flex;
    align-items: center;
  }
  
  .bodyFilme {
    align-items: center;
    border: 3px solid grey;
    padding: 10px 0px 10px 30px;
    margin-top: 5px;
  }
  
  .bodyPersonagens {
    align-items: center;
    border: 3px solid grey;
    padding: 10px 0px 10px 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .imagemPersonagens {
    display: flex;
   /* border: 3px solid grey;*/
    padding: 10px 10px 10px 10px;
  }
  
  .aquaman,.batman,.ciborg,.flash,.mulher_m,.superman {
    display: grid;
    grid-row: 3;
    border-radius:50%;
    cursor: pointer;
    
  }
  
  .back_aquaman{
    background-image: repeating-radial-gradient(rgba(255, 166, 0, 0.900), rgba(255, 166, 0, 0.700), rgba(0, 128, 0, 0.800));
    
    ;
  }
    .headerAquaman{
      width: 100%;
      height: 300px;
      display: flex;
       padding: 10px;
    }
}
